/*Style Sheet for navbar, banner, social media*/ 
@font-face {
    font-family: 'Autumn_in_November';
    src: url(./fonts/Autumn_in_November.ttf);
}

:root {
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif; 
}

html {
    background-image: linear-gradient(45deg, #FAF9F6, rgb(12, 51, 74), antiquewhite, #FAF9F6, rgb(12, 51, 74), antiquewhite);
}

body {
    color: black;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 1rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

.navbar {
    max-width: 100vw;
    min-height: 15rem;
    background-color: #23232e;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;

}

button {
    min-width: 12rem;
    min-height: 6rem;
    border-radius: 10px;
    font-size: 2rem;  
  }

.home {
    margin-top: 0;
    font-size: 2rem;

}

.nav-link {
    text-decoration: none;
    color: black;
    width: auto;
    height: auto;
    margin: 0 1rem 0 0;
    padding: 1rem;
}



.banner {
    margin: 0 0 0 0;
    padding: 0;
    color: rgb(122, 201, 228);
    background-color: #23232e;
    min-height: 8rem;
    max-width: 100vw;
    text-align: center;
    font-size: 8rem;
    font-family: 'Autumn_in_November';
    text-shadow: .15rem .15rem rgb(243, 238, 238);
}

.social_media {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin: 2rem 0 0 0;
    padding: 0;
	background-color: none;
}

.home:hover {
    background-color: rgb(122, 201, 228);
    text-transform: uppercase;
}

.instructors:hover {
    background-color: #5D3FD3;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.instructorsb:hover {
    background-color: #5D3FD3;
    text-transform: uppercase;
    font-size: 1.25rem;
}

.classes:hover {
    background-color: #964B00; 
    text-transform: uppercase;
}

.schedule:hover {
    background-color: black;
    text-transform: uppercase;
}

.schedule:hover {
    background-color: black;
    color: #D2042D;
    text-transform: uppercase;
}  

.contact:hover {
    background-image: linear-gradient(-45deg, black, red, black);
    text-transform: uppercase;
}

.blog:hover {
    background-image: linear-gradient(45deg, white, red, white);
    text-transform: uppercase;
}

.shop:hover {
    background-color: rgba(255, 0, 0, 0.863);
    text-transform: uppercase;
}

.fb {
    width: 8rem;
    height: 8rem;
    margin: 0;
    padding: 0;
    border-radius: 2rem;
}

.insta {
    width: 8rem;
    height: 8rem;
    margin: 0;
    padding: 0;
    border-radius: 2rem;
}

.twitter {
    width: 8rem;
    height: 8rem;
    margin: 0;
    padding: 0;
    border-radius: 2rem;
}

.yt {
    width: 8rem;
    height: 8rem;
    margin: 0;
    padding: 0;
    border-radius: 2rem;
}

footer {
  max-width: 100vw;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #23232e;
  height: 12rem;
  bottom: 0;
  right: 0;
  font-size: 2.5rem;
	
}

footer p {
    color: antiquewhite;
    margin: 0;
    padding: 0; 
}

.shop {
    margin-bottom: 0;
}

@media (min-width: 800px) {
    .nav-link {
        font-size: 1rem;
    }

    .navbar {
        height: 8rem;
        justify-content: space-around;
    }

    button {
        height: 3rem;
        width: 10rem;
    }
}

@media (min-width: 1000px) {
    .banner {
        height: 4rem;
        font-size: 4rem;
    }

    .navbar {
        height: 8rem;
    }

    button {
        height: 4rem;
    }

    .social_media {
        height: 4rem;
        justify-content: flex-start;
        background-color: none;
    }

    .fb, .twitter, .insta, .yt {
        height: 4rem;
        width: 4rem;
    }
}

@media (min-width: 1800px) {

    .banner {
        height: 12rem;
        font-size: 7rem;
        max-width: 100vw;
    }

    .navbar {
        min-height: 8rem;
        max-width: 100vw;
        justify-content: space-around;
    }

    button {
        min-height: 5rem;
        width: 10rem;
        font-size: 2rem;
    }

    .home {
        font-size: 2rem;
    }

    .instructors:hover {
        background-color: #5D3FD3;
        text-transform: uppercase;
    }

    .instructors:hover .instructor_text {
        font-size: 2rem;
    }  

    footer {
        display: flex;
        justify-content: space-around;
        font-size: 1rem;
        height: 2rem;
    }
    
    .social_media {
        margin-top: 0;
    }

}
    

  